.banner {
    position: relative;
    width: 100%;
    min-height: 420px;


    .carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &__item {
            position: relative;
            width: 100%;
            height: 100%;
            flex: 0 0 100%;
            background-color: red;
            scroll-snap-align: center;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
    }
}