.header{
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: center;
    background: linear-gradient(179deg,rgb(10,28,102) 40%, rgb(220, 86,131) 100%);
    align-items: center;
    gap: 2%;

    &__logo-wrapper{
        position: relative;
        width: 50px;
        height: 50px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title{
        color:#fff;
        text-align: center;
        &__main{
            margin: 0;
            font-size: 42px;
            letter-spacing: 10px;
        }
        &__sub{
            margin:0;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1.5px;

        }
    }
}