.nav{
    width: calc(100% - (9% * 2));
    height: 93px;
    padding: 0 9%;
    .navbar{
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        &__item{
            position: relative;
            width: calc(100%/7);
            text-align: center;
            &::after{
                content: " ";
                position: absolute;
                width: 1px;
                height: 150%;
                right: 0;
                bottom: 50%;
                transform: translateY(50%);
                background-color: rgb(10,28,102);
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            &__link{
                color:rgb(10,28,102);
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                transition: color 300ms;
                  
                &:hover{
                    color: rgb(220, 86,131);

                }
            }
        }

    }
    &--bottom{
        .navbar{
            justify-content: flex-start;
            width: 100%;
            // gap: 0;
            flex-wrap: wrap;
            &__item{
                // width: calc(100%/7 - 2*20px);
                // display: inline-flex;
                // justify-content: center;
                // width: min-content;
                // min-width: 100px;
                width: 100%;
                max-width: fit-content;

                // width: calc();
                // padding-right: 20px;
                // background-color: red;
                padding: 0 3%;
                // padding-left: 0;
                // text-align: left;
                &:first-child{
                    padding-left:0;
                    text-align: center;
                    // justify-content: left;
                }
                &:last-child{
                    padding-right: 0;
                }
                &::after{
                    height: 100%;
                }
                &__link{
                    width: 100%;
                    color:rgb(156, 156, 156);
                }
                
            }
        }
    }
}